.double-column-list ul {
    columns: 2; 
    list-style-type: none; 
    padding: 0; 
  }
  
  .double-column-list li {
    margin: 0;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-column, .right-column {
    width: 72%; 
}